.container {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    
  }

.image-preview {
    width: 400px;
    margin: 1rem auto 0;
    display: block;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .error {
    color: red;
  }
  